
.form-container{
    padding: 3rem;
  
    background-image: url('./assetsSignup/back.jpg');
}
.signup-form {
 

    width: 45vw;
    margin: auto;
    background-color: rgba(2, 2, 2, 0.21);
    padding: 3rem;
    border-radius: 18px;


}
.form-control{
  background-color: rgba(0, 0, 0, 0);
    color: rgb(8, 2, 90);
    font-size: 1rem;
    font-weight: bold;;

}
form label{
    color: white;
    font-size: 1.5rem;
}
.btn{
    border: 0;
    width: 100%;
    background-color: rgb(24, 24, 24);
}
.btn:hover{
    
    background-color: green;

}
@media screen and (max-width:700px) {
    .Signup-form {
 

        width: 80%;
        margin: auto;
        background-color: rgba(2, 2, 2, 0.21);
        padding: 1rem;
        border-radius: 18px;
    
    
    }
    .form-control{
      background-color: rgba(0, 0, 0, 0);
        color: rgb(8, 2, 90);
        font-size: 0.8rem;
        padding: 2px;
        font-weight: bold;;
    
    }
    form label{
        color: white;
        font-size: 1rem;
    }
    .btn{
        width: 100%;
    }

    
}

@media screen and (max-width:350px) {
    .signup-form {
 

        width: 100%;
       
    
    
    }
    
    form label{
        color: white;
        font-size: 0.8rem;
    }
    .btn{
        width: 100%;
    }
}
