
.p-detail{
    width: 100%;

}
.admin-product-heading , .admin-product-column{
    
    padding: 0.5rem;
    margin: 0.5rem;
    color: white;
}
.user-column:hover{
    
    background-color: rgb(74, 74, 253);
}
h2{
    color: black;
}
.btn-del{
    margin: 0.2rem 1.2rem;
    background-color: red;
    border: 0;
    color: white;
    padding: 0.2rem;
    border-radius: 8px;
    width: 50%;
}